{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <title></title>
    <!-- Favicons-->
    <link rel="shortcut icon" href="{% static 'comilon/img/logo_restaurante.png' %}" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'comilon/img/apple-touch-icon-57x57-precomposed.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="{% static 'comilon/img/apple-touch-icon-72x72-precomposed.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="{% static 'comilon/img/apple-touch-icon-114x114-precomposed.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="{% static 'comilon/img/apple-touch-icon-144x144-precomposed.png' %}">
    <!-- Bootstrap core CSS-->
    <link href="{% static 'comilon/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Main styles -->
    <link href="{% static 'comilon/css/admin.css' %}" rel="stylesheet">
    <!-- Icon fonts-->
    <link href="{% static 'comilon/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <!-- Plugin styles -->
    <link href="{% static 'comilon/vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">
    <link href="{% static 'comilon/vendor/dropzone.css' %}" rel="stylesheet">
    <link href="{% static 'comilon/css/date_picker.css' %}" rel="stylesheet">
    <!-- Your custom styles -->
    <link href="{% static 'comilon/css/custom.css' %}" rel="stylesheet">
    <!-- WYSIWYG Editor -->
    <link rel="stylesheet" href="{% static 'comilon/js/editor/summernote-bs4.css' %}">
</head>

<body class="fixed-nav sticky-footer" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-default fixed-top" id="mainNav">
        <a class="navbar-brand" href="{% url 'index-6' %}"><img src="{% static 'comilon/img/logo_restaurante.png' %}" alt="" width="40" height="40">   El Comilón</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="{% url 'user' %}">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-link-text">Panel</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Messages">
                    <a class="nav-link" href="#">
                        <i class="fa fa-fw fa-envelope-open"></i>
                        <span class="nav-link-text">Mensajes</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Add listing + Menu List">
                    <a class="nav-link" href="#">
                        <i class="fa fa-fw fa-plus-circle"></i>
                        <span class="nav-link-text">Añadir Proovedor/Empresa</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Orders Page">
                    <a class="nav-link" href="orders.html">
                        <i class="fa fa-fw fa-shopping-basket"></i>
                        <span class="nav-link-text">Orden de platos</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Edit Order">
                    <a class="nav-link" href="edit-order.html">
                        <i class="fa fa-fw fa-pencil"></i>
                        <span class="nav-link-text">Añadir platos</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="My profile">
                    <a class="nav-link" href="user-profile.html">
                        <i class="fa fa-fw fa-user"></i>
                        <span class="nav-link-text">Mi Perfil</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents">
                        <i class="fa fa-fw fa-gear"></i>
                        <span class="nav-link-text">Componentes</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseComponents">
                        <li>
                            <a href="charts.html">Charts</a>
                        </li>
                        <li>
                            <a href="tables.html">Tables</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-fw fa-envelope"></i>
                        <span class="d-lg-none">Mensajes
                            <span class="badge badge-pill badge-primary">12 Pendientes</span>
                        </span>
                        <span class="indicator text-primary d-none d-lg-block">
                            <i class="fa fa-fw fa-circle"></i>
                        </span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="messagesDropdown">
                        <h6 class="dropdown-header">Mensajes nuevos:</h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <strong>Francisco Perez</strong>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">Hola Soy Proovedor del restaurante Santiago mío </div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <strong>Duoc UC</strong>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">Buenos días, le escribimos de nuestra institución para informarle cambios en nuestras planillas</div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <strong>Elite</strong>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">Fueron actualizados los créditos de nuestros trabajadores</div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item small" href="#">Ver todos los mensajes</a>
                    </div>
                </li>
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0 mr-lg-2">
                        <div class="input-group">
                            <input class="form-control search-top" type="text" placeholder="Busqueda de apartados">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-fw fa-sign-out"></i>Salir</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- /Navigation-->
    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Panel</a>
                </li>
                <li class="breadcrumb-item active">Añadir platos</li>
            </ol>
            <div class="box_general padding_bottom">
                <div class="header_box version_2">
                    <h2><i class="fa fa-file"></i>Información Necesaria</h2>
                </div>
                <form action="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nombre</label>
                                <input type="text" class="form-control" placeholder="Lasaña" id="nombre" name="nombre">
                            </div>
                        </div>
                    </div>
                    <!-- /row-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Precio</label>
                                <input type="text" class="form-control" placeholder="14.390" id="precio" name="precio">
                            </div>
                        </div>
                    </div>
                    <!-- /row-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Descripción</label>
                                <div class="editor" id="desc" name="desc"></div>
                            </div>
                        </div>
                    </div>
                    <!-- /row-->
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <label>Empresa</label>
                                <input type="text" class="form-control" placeholder="El Comilón" id="emp" name="emp">
                            </div>
                        </div>
                    </div>
                    <!-- /row-->
                    <div class="row" style="margin-top: 50px;">
                        <div class="col-md col-sm-12 foto">
                          <img id="frame" src="{% static 'comilon/img/descarga.png'%}" class="fotperf" />
                          <script>
                            function preview() {
                              frame.src = URL.createObjectURL(event.target.files[0]);
                            }
                            function clearImage() {
                              document.getElementById('foto1').value = null;
                              frame.src = "";
                            }
                          </script>
                        </div>
                        <div class="col-md-7 col-sm-12">
                          <label for="Image" class="form-label letras" style="margin-bottom: 20px;">Ingrese la imagen de la comida</label>
                          <input class="form-control forinp" type="file" id="foto1" name="foto1" onchange="preview()"
                            style="border-color: #000000; font-size: 14px; border-radius: 6px;">
                        </div>
                    </div>
                    <!-- /.container-wrapper-->
                    <p><a href="#0" class="btn_1 medium" style="margin-top: 50px;">Guardar</a></p>
                    
                </form>
                <!-- /row-->
            </div>
            <footer class="sticky-footer">
                <div class="container">
                    <div class="text-center">
                        <small>Copyright © El Comilón 2022</small>
                    </div>
                </div>
            </footer>
            <!-- Scroll to Top Button-->
            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fa fa-angle-up"></i>
            </a>
            
            <!-- Logout Modal-->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">¿Listo para salir?</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">Seleccione "Cerrar sesión" si está listo para finalizar su sesión actual</div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                            <a class="btn btn-primary" href="#">Cerrar Sesión</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Bootstrap core JavaScript-->
            <script src="{% static 'comilon/vendor/jquery/jquery.min.js' %}"></script>
            <script src="{% static 'comilon/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
            <!-- Core plugin JavaScript-->
            <script src="{% static 'comilon/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
            <!-- Page level plugin JavaScript-->
            <script src="{% static 'comilon/vendor/chart.js/Chart.min.js' %}"></script>
            <script src="{% static 'comilon/vendor/datatables/jquery.dataTables.js' %}"></script>
            <script src="{% static 'comilon/vendor/datatables/dataTables.bootstrap4.js' %}"></script>
            <script src="{% static 'comilon/vendor/jquery.magnific-popup.min.js' %}"></script>
            <!-- Custom scripts for all pages-->
            <script src="{% static 'comilon/js/admin.js' %}"></script>
            <!-- Custom scripts for this page-->
            <script src="{% static 'comilon/vendor/dropzone.min.js' %}"></script>
            <script src="{% static 'comilon/vendor/bootstrap-datepicker.js' %}"></script>
            <script>
            $('input.date-pick').datepicker();
            </script>
            <!-- WYSIWYG Editor -->
            <script src="{% static 'comilon/js/editor/summernote-bs4.min.js' %}"></script>
            <script>
            $('.editor').summernote({
                fontSizes: ['10', '14'],
                toolbar: [
                    // [groupName, [list of button]]
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['font', ['strikethrough']],
                    ['fontsize', ['fontsize']],
                    ['para', ['ul', 'ol', 'paragraph']]
                ],
                placeholder: 'Write here ....',
                tabsize: 2,
                height: 200
            });
            </script>
</body>

</html>