{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="FooYes - Quality delivery or takeaway food">
    <meta name="author" content="Ansonika">
    <title>El Comilón - Registro </title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="{% static 'comilon/img/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'comilon/img/image/x-icon' %}" href="{% static 'comilon/img/apple-touch-icon-57x57-precomposed.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="image/x-icon" sizes="72x72" href="{% static 'comilon/img/apple-touch-icon-72x72-precomposed.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="{% static 'comilon/img/apple-touch-icon-114x114-precomposed.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="{% static 'comilon/img/apple-touch-icon-144x144-precomposed.png' %}">

    <!-- GOOGLE WEB FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="{% static 'comilon/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'comilon/css/style.css' %}" rel="stylesheet">

    <!-- SPECIFIC CSS -->
    <link href="{% static 'comilon/css/order-sign_up.css' %}" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="{% static 'comilon/css/custom.css' %}" rel="stylesheet">
    
</head>

<body id="register_bg">
	
	<div id="register">
		<aside>
			<figure>
				<a href="index.html"><img src="{% static 'comilon/img/logo_sticky.svg' %}" width="140" height="35" alt=""></a>
			</figure>
			<div class="access_social">
					<a href="#0" class="social_bt facebook">Registrate con Facebook</a>
					<a href="#0" class="social_bt google">Registrate con Google</a>
				</div>
            <div class="divider"><span>O</span></div>
			<form autocomplete="off">
				<div class="form-group">
					<input class="form-control" type="text" name="nomb" id="nomb" placeholder="Nombre(s)*">
					<i class="icon_pencil-edit"></i>
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="ap" id="ap" placeholder="Apellido(s)*">
					<i class="icon_pencil-edit"></i>
				</div>
				<div class="form-group">
					<input class="form-control" type="email" name="correo" id="correo" placeholder="Correo electronico*">
					<i class="icon_mail_alt"></i>
				</div>
				<div class="form-group">
					<input class="form-control" type="password" name="password1" id="password1" placeholder="Contraseña*">
					<i class="icon_lock_alt"></i>
				</div>
				<div class="form-group">
					<input class="form-control" type="password" id="password2" name="password2" placeholder="Confirmar contraseña*">
					<i class="icon_lock_alt"></i>
				</div>
				<div id="pass-info" class="clearfix"></div>
				<a href="#0" class="btn_1 gradient full-width">Registrate ahora!</a>
				<div class="text-center mt-2"><small>¿Ya tienes una cuenta? <strong><a href="#0">Registrarse</a></strong></small></div>
			</form>
			<div class="copy">© 2022 El comilón</div>
		</aside>
	</div>
	<!-- /login -->
	
	<!-- COMMON SCRIPTS -->
    <script src="{% static 'comilon/js/common_scripts.min.js' %}"></script>
    <script src="{% static 'comilon/js/common_func.js' %}"></script>
    <script src="{% static 'comilon/assets/validate.js' %}"></script>
	
	<!-- SPECIFIC SCRIPTS -->
	<script src="{% static 'comilon/js/pw_strenght.js' %}"></script>	
  
</body>
</html>